#### 1: Import the dataset

In [2]:
#Import the required libraries
import pandas as pd
import numpy as np

In [11]:
#Import the advertising dataset
adv_csv = pd.read_csv('I:\DataScience\Advertising Budget and Sales.csv', index_col=0)

#### 2: Analyze the dataset

In [12]:
#View the initial few records of the dataset
adv_csv.describe()

,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
count,200.000000,200.000000,200.000000,200.000000
mean,147.042500,23.264000,30.554000,14.022500
std,85.854236,14.846809,21.778621,5.217457
min,0.700000,0.000000,0.300000,1.600000
25%,74.375000,9.975000,12.750000,10.375000
50%,149.750000,22.900000,25.750000,12.900000
75%,218.825000,36.525000,45.100000,17.400000
max,296.400000,49.600000,114.000000,27.000000

In [13]:
#Check the total number of elements in the dataset
adv_csv.size

800

#### 3: Find the features or media channels used by the firm

In [14]:
#Check the number of observations (rows) and attributes (columns) in the dataset
adv_csv.shape # 200 observations 4 features

(200, 4)

In [15]:
#View the names of each of the attributes
print(adv_csv.columns)

# ad agency used three channels ['TV', 'Newspaper', 'Radio'] and one response ['Sales']

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [16]:
#Create a feature object from the columns
X_feature = adv_csv[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [17]:
#View the feature object
X_feature

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [19]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target = adv_csv[['Sales ($)']]

In [20]:
#View the target object
Y_target

     Sales ($)
1         22.1
2         10.4
3          9.3
4         18.5
5         12.9
..         ...
196        7.6
197        9.7
198       12.8
199       25.5
200       13.4

[200 rows x 1 columns]

In [24]:
#Verify if all the observations have been captured in the feature object
print(X_feature.shape) # 3 columns

(200, 3)

In [23]:
#Verify if all the observations have been captured in the target object
print(Y_target.shape) # 1 columns

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [26]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

In [28]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print('X train', x_train.shape)
print('X test', x_test.shape)
print('Y train', y_train.shape)
print('Y test', y_test.shape)

X train (150, 3)
X test (50, 3)
Y train (150, 1)
Y test (50, 1)

#### 6: Create a model  to predict the sales outcome

In [29]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()
linReg.fit(x_train, y_train)

LinearRegression()

In [30]:
#Print the intercept and coefficients 
print(linReg.intercept_)
print(linReg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [33]:
#Predict the outcome for the testing dataset
y_predict = linReg.predict(x_test)
y_predict

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

#### 7: Calculate the Mean Square Error (MSE)

In [36]:
#Import required libraries for calculating MSE (mean square error)
# to check the models acurracy
from sklearn import metrics
import numpy as np

In [38]:
#Calculate the MSE
print(np.sqrt(metrics.mean_squared_error(y_test, y_predict)))

1.4046514230328953

In [42]:
# check predicted vs true
print('True', y_test.values[0:5])
print('\n')
print('Predicted', y_predict[0:5])

True [[23.8]
 [16.6]
 [ 9.5]
 [14.8]
 [17.6]]


Predicted [[21.70910292]
 [16.41055243]
 [ 7.60955058]
 [17.80769552]
 [18.6146359 ]]